/* . {
    padding: 0;
    margin: 0;
    border: 0;
} */

body {
    background-color: #F9FAFC;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

li {
    display: contents;
}

.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.logotext {
    color: #4A4A4F;
    font-family: 'Tangerine', sans-serif;
    font-size: 6vw;
    position: relative;
    top: 14px;
    right: 10%;
}

#navlogo {
    height: 150px;
    width: auto;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    margin-left: -46px;
    margin-bottom: 0;
    list-style: none;
    align-items: center;
}

a {
    color: #4A4A4F;
    text-decoration: none;
}

.admin-panel {
    padding-left: 1rem;
}

.introduction {
    font-family: "Verdana", sans-serif;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.category-title {
    text-transform: uppercase;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
    border-radius: 5px;
}

.category-flash {
    position: absolute;
    top: 2%;
    width: fit-content;
    height: 34px;
    right: -5px;
    background-color: #bb9223;
    border-radius: 5px;
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.category-flash p {
    padding: 5px;
}

/* #category a {
    text-decoration: none;
    color: white;
    margin: 4px;
    text-transform: uppercase;
} */

.category-link {
    text-decoration: none;
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

#category a:hover {
    color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.fadeout {
    max-height: 200px;
    position: relative;
    overflow: hidden;
}

.fadeout .read-more {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 30px 0;

    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, white);
}

.link-icons {
    color: #23BBBB;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

#social-link {
    color: #fff;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

@media only screen and (max-width: 1400px) {
    .logotext {
        font-size: 5vw;
    }
}

@media only screen and (max-width: 1200px) {
    .logotext {
        font-size: 3vw;
    }

}