{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h1>Delete Post</h1>
<div class="row">
    <h3>Delete: {{ post.title }}</h3>
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                <strong>Are you sure you want to delete {{ post.title }} ?</strong>
                <button class='btn btn-info' type="submit" value="Post">Delete Post?</button>
        </div>
    </div>
</div>

{% endblock content %}